<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A7712D91E975D0300F9AA59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A7712F21E975D0300F9AA59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A7712FD1E975D0300F9AA59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
